<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">

<head>
  <thymeleaf th:replace="/admin/base_templates/head :: head"/>
</head>


<body>
<div id="wrap">
  <div id="main" class="container clear-top">
    <thymeleaf th:replace="/admin/base_templates/navbar :: navbar"/>


    <div style="margin-top: 50px" th:if="${not #lists.isEmpty(programmingLanguagePage)}">
      <h4>Programming Languages</h4>
      <br/>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="thead-inverse">
          <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="programmingLanguage : ${programmingLanguagePage}">
            <td><span th:text="${#strings.abbreviate(programmingLanguage.name,35)}">Name</span>
            </td>
            <td th:text="${#strings.abbreviate(programmingLanguage.description,250)}">
              body
            </td>

            <td>
              <a th:href="${'/admin/edit_programmingLanguage?id=' + programmingLanguage.id}">Edit</a>
              <a th:href="${'/admin/delete_programmingLanguage?id=' + programmingLanguage.id}">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>


    <!-- Pagination Bar -->
    <div style="margin-bottom: 50px" th:fragment='paginationbar'>
      <div>
        <ul class='pagination pagination-centered'>
          <li th:class="${page.firstPage}?'disabled':''">
            <span th:if='${page.firstPage}'>← First</span>
            <a th:if='${not page.firstPage}'
               th:href='@{${page.url}(page=0,size=${page.size})}'>←
              First</a>
          </li>
          <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
            <span th:if='${not page.hasPreviousPage}'>«</span>
            <a th:if='${page.hasPreviousPage}'
               th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
               title='Go to previous page'>«</a>
          </li>
          <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
            <span th:if='${item.current}' th:text='${item.number}'>1</span>
            <a th:if='${not item.current}'
               th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                th:text='${item.number}'>1</span></a>
          </li>
          <li th:class="${page.hasNextPage}? '' : 'disabled'">
            <span th:if='${not page.hasNextPage}'>»</span>
            <a th:if='${page.hasNextPage}'
               th:href='@{${page.url}(page=${page.number},size=${page.size})}'
               title='Go to next page'>»</a>
          </li>
          <li th:class="${page.lastPage}? 'disabled' : ''">
            <span th:if='${page.lastPage}'>Last →</span>
            <a th:if='${not page.lastPage}'
               th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last
              →</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<thymeleaf th:replace="/admin/base_templates/footer :: footer"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script language="JavaScript" type="text/javascript" src="/js/main.js"/>

</body>
</html>





